<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">

    <ion-card>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input  [(ngModel)]="nome" ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating" >Idade</ion-label>
        <ion-input  [(ngModel)]="idade"  type="number" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" >Endereço</ion-label>
        <ion-input  [(ngModel)]="endereco"  ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input  [(ngModel)]="email"  type="email" ></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input  [(ngModel)]="senha"  type="password" ></ion-input>
      </ion-item>

      <ion-card-content>
        <ion-button (click)="cadastro()" size="small" expand="block" > Cadastrar</ion-button>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

