<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Lista de Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="secondary" *ngFor="let item of produtos" >
      <ion-avatar slot="start">
        <img src="../../assets/caixa.png">
      </ion-avatar>
      <ion-label color="light"  >
        <p>ID: {{item.id}}</p>
        <h2>Nome: {{item.name}}</h2>
        <h3>Preço: {{item.price}}</h3>
        <h3>Quantidade: {{item.amount}}</h3>
      </ion-label>
    </ion-item>



  </ion-list>
</ion-content>
