<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]=" Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title>Acesso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div id="container">
  <ion-card>
    <ion-item>
      <ion-label position="floating">Login</ion-label>
      <ion-input [(ngModel)]="login"  ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password"  [(ngModel)]="password"></ion-input>
    </ion-item>



  <ion-card-content>
    <ion-button (click)="logar()" expand="full" >Acessar</ion-button>
  </ion-card-content>

  </ion-card>


</div>

</ion-content>
